

.page-wrap{
    background-color: #fff;
    padding: 30px 0;
    margin-top: 20px;
    text-align: center;
}
.result-con{
    display: none;
}
.result-con .result-title{
    color: #555;
}
.result-con .result-content{
    margin-top: 20px;
}
.result-con .result-content .link{
    padding: 5px 10px;
    border: 1px solid #ccc;
    margin:0 5px;
}